body {
    margin: 0;
    padding: 0;
}

#chart svg {
    padding: 1rem;
}

div.tooltip {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid ;
    border-color: #acacac;
    width: 100px;
    height: auto;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }